@import "css3-mixins.scss";

$color: #702b4b;
$colorr1: #7D3054;
$colorr2: #56213A;
$colorl1: #BC487E;
$colorl2: #FC61A9;
$white: #fff;





body {
	
	background-color: #fff;
	
	
}



h1, .h1, h2, .h2, h3, .h3, h4, h5,h6{
	font-family: 'Oswald', sans-serif;
	line-height: 1.5;
	color: $color;
}

*, a, a:active, a:focus, a:hover{
	outline: 0 none;
}

/* ================
*	COMMON
*  ================ */



/* ================
*	TOUCH FIX + DEVICES
*  ================ */

.ios{

}


/* ================
*	MEDIA QUERIES
*  ================ */
@media (min-width: 641px) { 
	

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

	
} /*  End Small */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


} /*  End Medium */

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


} /*  End Large */


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1441px) { 



}




/* ================
*	DEVICES
*  ================ */



@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){



}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */

   


}



